<div class="container-signup">
  <form class="signup-form" action="signup" method="POST">
    <div id="create-acc">
      <h2>CREATE AN ACCOUNT</h2>
    </div>
    <div>
      <label class="signup-label">First Name</label>
      <input class="signup-input" type="text" name="firstName" />
    </div>
    <div>
      <label class="signup-label">Last Name</label>
      <input class="signup-input" type="text" name="lastName" />
    </div>
    <div>
      <label class="signup-label">Email</label>
      <input class="signup-input" type="email" name="email" />
    </div>
    <div>
      <label class="signup-label">Phone Number</label>
      <input class="signup-input" type="text" name="phoneNumber" />
    </div>
    <div>
      <label class="signup-label">Password</label>
      <input class="signup-input" type="password" name="password" />
    </div>
    <div id="sign-up-submit">
      <button type="submit" id="create-acc-submit">Sign Up</button>
      <p>Already have an account?<a href="/user/signin">Login</a></p>
    </div>
  </form>
</div>
