<div class="container-signup">
  <form class="signin-form" method="POST" action="signin">
    <div id="login-header">
      <h2>LOG INTO YOUR ACCOUNT</h2>
    </div>
    <div>
      <label class="signin-label">Email</label>
      <input class="signin-input" type="email" name="email" />
    </div>
    <div>
      <label class="signin-label">Password</label>
      <input class="signin-input" type="password" name="password" />
    </div>
    <div id="sign-in-submit">
      <input class="login-submit" type="submit" value="Login" />
      <br /><br />OR
      <a href="#"><p>Sign in with Google</p></a>
    </div>
  </form>
</div>
