<div class="container">
    
    <form method="POST"  action="/auth/signin">
        <div id="login-header">
            <h3>LOG INTO YOUR ACCOUNT</h3>
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <input class="loginBtn" type="submit" value="Login">
            <p style="display: flex; justify-content: center;">OR</p>
            <a href="#" style="display: flex; justify-content: center;">Sign in with Google</a>
        </div>
    </form>

</div>

