<div class="container">
    
    <form action="signup" method="POST">
        <div id="create-acc">
            <h3>CREATE AN ACCOUNT</h3>
        </div>
        <div>
            <label>First Name</label>
            <input type="text" name="firstName">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="lastName">
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label>Phone Number</label>
            <input type="number" name="phoneNumber">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <button>Sign Up</button>
            <p>Already a user?<a>Login</a></p>
        </div>
    </form>

</div>