<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent my Ride</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tillana&display=swap" rel="stylesheet">
    

    <style>
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        left: 50%;
        transform: translateX(-50%); /* Center the dropdown */
      }

      .dropdown-item:hover {
        color: cornflowerblue;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropdown-content a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul class="container-nav-logo">
          <img id="image-logo" src="/images/steering-wheel.png">
          <li id="logo"><a href="/">RENT MY RIDE</a></li>
          <% if (currentUser) {%> <% if (currentUser.userType == 'admin') {%>
          <li class="navbar">
            <a class="navbar" href="/admin/Dashboard">Admins Dashboard</a>
          </li>
          <% }} %>
          <li class="navbar"><a>About Us</a></li>
          <li class="navbar"><a href="/cars/index">Rent A Car</a></li>
          <% if (currentUser) {%>
          <li class="navbar dropdown">
            <span class="dropdown-toggle"> <%= currentUser.firstName %> </span>
            <div class="dropdown-content">
              <a class="dropdown-item" href="/user/profile">Profile</a>
              <a class="dropdown-item" href="/user/posts">Posts</a>
              <a class="dropdown-item" href="/user/history">History</a>
              <a class="dropdown-item" href="/user/chats">Chats</a>
              <a class="dropdown-item" href="/user/disputes">Disputes</a>
            </div>
          </li>
          <a href="/user/signout">Log Out</a>
          <% } else {%>
          <li class="navbar">
            <a class="navbar" href="/user/signup">Sign Up</a>
          </li>
          <li class="navbar">
            <a href="/user/signin">Log In</a>
          </li>
          <% } %>
        </ul>
        <hr>
      </nav>
    </header>
    <%- body %>
    <footer>
      <nav>
        <ul class="container-footer">
          <li><a>About Us</a></li>
          <li><a>Terms & Conditions</a></li>
          <li><a>Contact</a></li>
          <li><a>Follow Us</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
