<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carsurf</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <ul class="container-nav-logo">
          <li class="logo"><a>App Name</a></li>
          <li class="navbar"><a>About Us</a></li>
          <li class="navbar"><a>Rent A Car</a></li>
          <li class="navbar"><a class="navbar" href="./auth/signup">Sign Up</a></li>
          <li class="navbar"><a>Log In</a></li>
        </ul>
      </nav>
    </header>
    <%- body %>
    <footer>
      <nav>
        <ul class="container-footer">
          <li><a>About Us</a></li>
          <li><a>Terms & Conditions</a></li>
          <li><a>Contact</a></li>
          <li><a>Follow Us</a></li>
      </ul>
      </nav>
    </footer>
  </body>
</html>
