<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carsurf</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <a>Carsurf</a>
        <a>About Us</a>
        <a>Rent A Car</a>
        <a>Sign Up</a>
        <a>Log In</a>
      </nav>
    </header>
    <%- body %>
    <footer>
      <a>About Us</a>
      <a>Terms & Conditions</a>
      <a>Contact</a>
      <a>Follow Us</a>
    </footer>
  </body>
</html>
