<h2>Change password</h2>
<form method="POST" action="/user/changePassword">
    <div>
        <label>Enter current password</label>
        <input type="password" name="password">
    </div>
    <div>
        <label>New password</label>
        <input type="password" name="newPassword">
    </div>
    <div>
        <label>Confirm new password</label>
        <input type="password" name="confirmPassword">
    </div>
    <input type="submit">
</form>