
<!-- images not working ?? -->
<div id="hero-image">
    <!-- <img src="/images/hero-image-car.png"> -->
    <img src="https://images.cars.com/in/v2/stock_photos/7f212472-c429-4681-882b-29e52f4d52b5/884b28bd-d67f-4c90-a7e5-a066090db8f7.png?w=1000">
</div>

<div class="boxes">
    <div class="boxes box-one">
        <h4>Subheading</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda veritatis minima accusantium asperiores a.</p>
    </div>
    <div class="boxes box-two">
        <h4>Subheading</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda veritatis minima accusantium asperiores a.</p>

    </div>
    <div class="boxes box-three">
        <h4>Subheading</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda veritatis minima accusantium asperiores a.</p>
  </div>
</div>

<div class="subhead-one">
    <div><h2>User Driven Renting Made Easy</h2></div>
    <div></div>
</div>

<div class="featuredCars">
    <div class="ft-car1">
        <!-- <img src="/images/feature-carOne.png"> -->
        <img src="https://img.autobytel.com/chrome/multiview/white/640/2022hyc03_640/2022hyc030017_640_01.jpg">
    </div>
    <div class="ft-car2">
        <!-- <img src="/images/feature-carTwo.png"> -->
        <img src="https://www.carlelo.com/laravel/public/uploads/model/1650079167.webp">
    </div>
    <div class="ft-car3">
        <!-- <img src="/images/feature-carThree.png"> -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTneecRhnUsHQLACb8S1h5JnWIDt7Xol6IYrw&usqp=CAU">
    </div>
</div>