<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- images not working ?? replaced them with google imgs but left  -->
<div class="hero-image">
    <!-- <img src="/images/hero-image-car.png"> -->
    <img class="hero-image" src="https://www.pngmart.com/files/16/Side-View-Lamborghini-Car-Transparent-Background.png">
</div>

<div class="boxes">
    <div class="box-one">
        <h3>Subheading</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda veritatis minima accusantium
            asperiores a.</p>
    </div>
    <div class="box-two">
        <h3>Subheading</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda veritatis minima accusantium
            asperiores a.</p>
    </div>
    <div class="box-three">
        <h3>Subheading</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda veritatis minima accusantium
            asperiores a.</p>
    </div>
</div>

<div class="subhead-one">
    <div>
        <h1>User Driven Renting Made Easy</h1>
    </div>
</div>

<div class="featuredCars">
    <div class="ft-car1">
        <!-- <img src="/images/feature-carOne.png"> -->
        <img class="ftCarImg"
            src="https://s3.us-east-2.amazonaws.com/dealer-inspire-vps-vehicle-images/1457-110005588/KMHLL4AG5PU574454/1dac1247f43c07d38b9ce87840fcfd00.jpg">
        <div class="select-rating">
            <div class="seats-rates">
                <div class="seatCount"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuV0L5hVGOf4Z7Kdd8nvV0tBeZV_Wnhf08SA&usqp=CAU"> 5
                </div>
                <div class="rating"><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            </div>
            <div class="selectCar"><button>SELECT</button></div>
        </div>
    </div>
    <div class="ft-car2">
        <!-- <img src="/images/feature-carTwo.png"> -->
        <img class="ftCarImg" src="https://www.carlelo.com/laravel/public/uploads/model/1650079167.webp">
        <div class="select-rating">
            <div class="seats-rates">
                <div class="seatCount"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuV0L5hVGOf4Z7Kdd8nvV0tBeZV_Wnhf08SA&usqp=CAU"> 4
                </div>
                <div class="rating"><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="selectCar"><button>SELECT</button></div>
        </div>
    </div>
    <div class="ft-car3">
        <!-- <img src="/images/feature-carThree.png"> -->
        <img class="ftCarImg"
            src="https://static-assets.tesla.com/configurator/compositor?&bkba_opt=1&view=STUD_3QTR&size=1400&model=m3&options=$APBS,$DV2W,$IBB1,$PPSW,$PRM30,$SC04,$MDL3,$W40B,$MT322,$CPF0,$DRRH,$RSF0&crop=1400,850,300,130&">
        <div class="select-rating">
            <div class="seats-rates">
                <div class="seatCount"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuV0L5hVGOf4Z7Kdd8nvV0tBeZV_Wnhf08SA&usqp=CAU"> 4
                </div>
                <div class="rating"><span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <div></div>
            </div>
            <div class="selectCar"><button>SELECT</button></div>
        </div>
    </div>
</div>

<div class="rentCar">
    <button class="rentCarBtn">Book A Car Now</button>
</div>

<div class="containerReviews">
    <div class="subhead-two">
        <h1>What People Are Saying</h1>
    </div>
    <img class="reviewIcon" src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
    <div class="testimonials">
        <div class="arrow-left"><img src="https://cdn.onlinewebfonts.com/svg/img_396522.png"></div>
        <div class="reviewBox">"Testimonials go here!" <br /> -User Name</div>
        <div class="arrow-right"><img
                src="https://cdn.icon-icons.com/icons2/2644/PNG/512/arrow_right_circle_fill_icon_159734.png"></div>

    </div>
</div>