
<h1 class="about-h1">About Rent My Ride</h1>

<div class="about-faqs">
    <div class="question">
        <h3 class="about-h3">What is it?</h3>
    </div>
    <div class="answer">
        <p class="about-content">Rent My Ride is a user driven car rental platform where users can upload their personal
            vehicles to be rented by other users on the app.</p>
    </div>
    <div class="question">
        <h3 class="about-h3">Who can use it?</h3>
    </div>
    <div class="answer">
        <p class="about-content">Rent My Ride is available for use to all users who sign up.</p>
    </div>
    <div class="question">
        <h3 class="about-h3">Is Rent My Ride safe?</h3>
    </div>
    <div class="answer">
        <p class="about-content">We ensure the safety of all users by having users submit a copy of their personal IDs
            as a
            safety process. This information is never shared with any other users & is only used to ensure the safety of
            all
            members using the platform. </p>
    </div>
</div>


<!-- script to be added to main.js file -->
<script>
    $('.answer').hide();

    $('.question').click(function(){
    $('.answer').show()
})
</script>

