<h1>Rent A Car</h1>

<form method="POST" action="cars/rentCarForm">
    <div>
        <form>
            <div>
                <h3>Request to book</h3>
            </div>
            <div>

                <h3>Choose how to pay</h3>
                <div>
                    <h4>Pay in full</h4>
                </div>
                <div>
                    <h4>Pay part now, part later</h4>
                </div>
                
            </div>
            <div>
                <h3>Pay with</h3>
            </div>
            <div>
                <h3>Cancellation policy</h3>
                <p>Free cancellation 48 hours before pick up</p>
            </div>
            <div>
                <h3>Ground rules</h3>
                <p>What makes a renter a great renter is following the owner's rules and treating the owner's vehicle like your own</p>
            </div>
            <div>
                <h3>Your reservation will not be confirmed until the owner acceps your request to book.</h3>
            </div>
            <div>
                <p>By selecting the button below, I agree to the Owner's Rules, Ground rules for <br>renters, Carsurf's Rebooking and Refund Policy, and that Carsurf can charge my payment method if I have caused any damage.<br> I agree to pay the total amount shown if the owner accepts my booking request.</p>
                <p>I agree to the Terms of Service, Payments Terms of Service, and Privacy Policy.</p>
            </div>
            <div>
                <button>Request to book</button>
            </div>
        </form>
    </div>
</form>